<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/google-map/google-map.html">
<link rel="import" href="../bower_components/geo-location/geo-location.html">

<dom-module id="map-view">
	<template>
		<geo-location id="geo" latitude="{{latitude}}" longitude="{{longitude}}"></geo-location>

		<google-map api-key="AIzaSyBbWPVuPfYXeCBrPClqOfMT2b2DXr3f50Y" latitude="[[latitude]]" longitude="[[longitude]]">
			<template is="dom-repeat" items="{{tickets}}">
				<google-map-marker latitude="[[item.location.latitude]]" longitude="[[item.location.longitude]]"></google-map-marker>
			</template>

		</google-map>
	</template>
	<script>
		class MapView extends Polymer.Element {
			connectedCallback() {
				super.connectedCallback();
			}
			static get is() {
				return 'map-view';
			}
		}
		customElements.define(MapView.is, MapView);
	</script> </dom-module>