<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/vaadin-button/vaadin-button.html">
<link rel="import" href="../bower_components/vaadin-ordered-layout/vaadin-horizontal-layout.html">
<link rel="import" href="../bower_components/vaadin-ordered-layout/vaadin-vertical-layout.html">
<link rel="import" href="../bower_components/vaadin-checkbox/vaadin-checkbox.html">
<link rel="import" href="../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="../bower_components/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="../bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="../bower_components/vaadin-text-field/vaadin-text-area.html">

<dom-module id="ticket-view">
    <template>
        <vaadin-vertical-layout>
            <vaadin-horizontal-layout style="width:100%;justify-content: space-between;align-items: center">
                <vaadin-button on-click="clear">
                    Clear
                </vaadin-button>
                <span>New Ticket</span>
                <vaadin-button on-click="save">
                    Save
                </vaadin-button>
            </vaadin-horizontal-layout>
            <vaadin-form-layout style="width: 100%" theme="spacing margin">
                <div>Information</div>
                <vaadin-checkbox on-change="myLocationChange" id="myLocation">
                    My location {{locationText}}
                </vaadin-checkbox>
                <vaadin-date-picker id="time" style="width:100%" label="Time"></vaadin-date-picker>
                <vaadin-text-field id="vehicleId" style="width:100%" label="Vehicle ID"></vaadin-text-field>
                <vaadin-combo-box id="violation" items="[[violations]]" style="width:100%" label="Violation"></vaadin-combo-box>
                <vaadin-combo-box id="area" items="[[areas]]" style="width:100%" label="Area"></vaadin-combo-box>
                <vaadin-text-area id="notes" style="width:100%" label="Notes"></vaadin-text-area>
            </vaadin-form-layout>
        </vaadin-vertical-layout>
    </template>
    <script>
        class TicketView extends Polymer.Element {
            static get is() {
                return 'ticket-view';
            }
            static get properties() {
                return {
                    "location": {
                        type: Array,
                        value: [-1,-1]
                    },
                    locationText: {
                        type: String,
                        value: ""
                    }

                };
            }
            connectedCallback() {
                super.connectedCallback();
                this.$.time._selectedDate = new Date();
            }
            myLocationChange() {
                if (this.$.myLocation.checked) {
                    this.locationText = " (locating...)";
                    navigator.geolocation.getCurrentPosition(position => {
                        this.location = [position.coords.latitude, position.coords.longitude];
                        this.locationText = " (" + this.location.map(n=>n.toFixed(2)) + ")";
                    });
                } else {
                    this.locationText = "";
                }
            }
            save() {
                const ticket = this.getCurrentFormTicket();
                this.saveTicket(ticket);
                this.clear();
            }
            getCurrentFormTicket() {
                const timeStamp = this.$.time._selectedDate ? this.$.time._selectedDate.getTime() : 0;
                return {
                    location: this.location,
                    timeStamp: timeStamp,
                    vehicleId: this.$.vehicleId.value,
                    violation: this.$.violation.value,
                    area: this.$.area.value,
                    notes: this.$.notes.value,
                };
            }
            clear() {
                const fields = [this.$.vehicleId, this.$.violation, this.$.area, this.$.notes];
                fields.forEach(field => field.value='');

                this.$.time._selectedDate = new Date();
            }
            saveTicket(ticket) {
                this.$server.save(ticket);
            }
        }
        customElements.define(TicketView.is, TicketView);
    </script>
</dom-module>